/* FONT COLOURS */
$base-font-size:16px;
$base-font-family:"Segoe UI","Segoe WP", "Segoe Regular", sans-serif;
$base-font-colour:#000;
$inverse-font-colour:#FFF;

/* COLOURS */
$body-background:#696969;
$website-secondary-lime-green:#00FF00;
$nav-background-gray:#33333D;

/* DIMENSIONS */
$nav-bar-spacing:10px;
$block-spacing:12px;
